<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card">
			<div class="card-header bg-primary text-white" th:text="${titulo}"></div>
			<div class="card-body">

				<div th:object="${produccion}" th:remove="tag">
					<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
						role="alert">
						<li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
					</ul>
				</div>

				<form th:action="@{/producciones/form}" th:object="${produccion}" method="post">					
					<div class="form-group row">
						<label for="animal" class="col-sm-2 col-form-label">Animal</label>
						<div class="col-sm-6">							
								<select class="custom-select" th:field="*{animal.codAnimal}">								    
								    <option th:each="m: ${animales}"
									th:value="${m.codAnimal}"
									th:text="${m.nombre}"></option>
								</select>
						</div>
					</div>
						
					<div class="form-group row">
						<label for="pesoProduccion" class="col-sm-2 col-form-label">Peso Kg</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" th:field="*{pesoProduccion}" th:value="0"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('pesoProduccion')}" th:errors="*{pesoProduccion}"></small>
						</div>
					</div>
														
					<div class="form-group row">
						<label for="fechaOrdeño" class="col-sm-2 col-form-label">Fecha Ordeño</label>
						<div class="col-sm-6">
							<input type="date" th:field="*{fechaOrdenio}" class="form-control"
								th:errorclass="'form-control alert-danger'" /> <small
								class="form-text text-danger"
								th:if="${#fields.hasErrors('fechaOrdenio')}" th:errors="*{fechaOrdenio}"></small>
						</div>
					</div>
					
					
					
					<div class="form-group row">
						<label for="turno" class="col-sm-2 col-form-label">Turno</label>
						<div class="col-sm-6">							
								<select class="custom-select" th:field="*{turno}">								    
								    <option th:value="'MAÑANA'" th:text="'MAÑANA'"></option>
								    <option th:value="'TARDE'" th:text="'TARDE'"></option>
							        <option th:value="'NOCHE'" th:text="'NOCHE'"></option>
								</select>
						</div>
					</div>
					
					
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="submit" th:value="${titulo}"
								class="btn btn-primary" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>