<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8" />
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="py-4">
	
		<h1>HELLO TEMPLATE</h1>
		
		<div class="card bg-light">
			<div class="card-header bg-primary text-white" th:text="${titulo}"></div>
			<div class="card-body">

				  <h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{animales/form}" class="btn btn-primary btn-xs">Registrar Animal</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th sec:authorize="hasRole('ROLE_USER')">Código</th>
							<th>Nombre</th>
							<th>Sexo</th>
							<th>Madre</th>
							<th>Padre</th>
							<th>Fecha de Nacimiento</th>
							<th>raza</th>
							<th>Metodo Concepción</th>
							<th>Estado</th>							
							<th sec:authorize="hasRole('ROLE_ADMIN')">registrar control</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">editar</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="animal: ${animales}">
							<td sec:authorize="hasRole('ROLE_USER')"><a class="btn btn-primary btn-xs" 
							th:href="@{/ver/} + ${animal.codAnimal}" th:text="${animal.codAnimal}"></a></td>
							<td th:text="${animal.nombre}"></td>
							<td th:text="${animal.sexo}"></td>
							<td th:text="${animal.madre.nombre}"></td>
							<td th:text="${animal.padrillo.nombre}"></td>  
							<td th:text="${animal.fechaNacimiento}"></td>
							<td th:text="${animal.raza}"></td>
							<td th:text="${animal.metodoConcep}"></td>
							<td th:text="${animal.estado}"></td>							
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-success btn-xs"
								th:href="@{'/control/form/' + ${animal.codAnimal}}"
								th:text="'Registrar Control'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-xs"
								th:href="@{/form/} + ${animal.codAnimal}" th:text="'editar'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-xs"
								th:href="@{/eliminar/} + ${animal.codAnimal}" th:text="'eliminar'"
								onclick="return confirm('Estas seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="paginator-nav :: paginator"></nav>
			</div>
		</div>


	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>