<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8" />
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="py-4">
	
		<h1>Reportes</h1>		
		<div class="card bg-light">
			<div class="card-header bg-primary text-white" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/partos/form}" class="btn btn-primary btn-xs">Registrar Parto</a>
				</h4>
				
				
				
			</div>
		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>