<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">
		<div  class="card bg-light">
			<div class="card-header bg-primary text-white">
				<h3> Sistema de Control</h3>
			</div>
			<div class="card-body lead text-justify">			 
       	   		<p>Para prestar el servicio educativo las universidades peruanas deberán obtener la Licencia de Funcionamiento Institucional,  por lo que la Superintendencia Nacional de Educación Superior - SUNEDU verificará que las universidades cumplan con las condiciones básica de calidad (CBC), entre ellas con la Infraestructura y equipamiento adecuado para el cumplimiento de sus funciones: aulas, bibliotecas, laboratorios, etc. 
           		</p>
	           <p>
	               En cuanto al material bibliográfico precisa que este debe existir según los planes de estudio de sus escuelas. El acervo bibliográfico puede ser en físico y/o virtual. Las bibliotecas virtuales deben estar suscritas
	           </p>
	           <p>
	               El acervo bibliográfico no debe superar los tres años de antigüedad y deberá existir en la cantidad suficiente para la consulta de alumnos.
	           </p>
	           <p>
	               Por lo expuesto, le rogamos llenar el formato adjunto con todas las especificaciones solicitadas, para cumplir con las exigencias de la SUNEDU y que la bibliografía pueda adquirirse a la brevedad posible.
	           </p>        
					
			</div>
		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
	
</body>
</html>