<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<meta charset="UTF-8" />
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<!-- <h4 class="card-title">
					<a class="btn btn-primary btn-xs"
						th:href="@{'/control/form/' + ${animal.codAnimal}}"
						th:text="'Crear control'"></a>
				</h4>-->
				<!--  th:if="${#lists.isEmpty(cliente.facturas)} -->
						
				<ul class="list-group">
					<li class="list-group-item active" th:text="${evento.descrpcion}"></li>
					<li class="list-group-item">
						<div class="form-group row">
						<label class="col-sm-2 col-form-label"><strong>Descripción</strong></label>
							<div class="col-sm-6">
								<input type="text" disabled th:field="*{evento.descripcion}" class="form-control"/>
							</div>
						</div>	
					</li>							
				</ul>

			</div>
		</div>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>